/* style.css */
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.text-light {
  color: #fff;
}

.navbar-dark .navbar-brand img {
  max-height: 100px;
  width: 230px;
}

.display-5 {
  color: #d8c14e;
}

.display-6 {
  color: #d8c14e;
  font-size: 20px;
}

.btn-dark {
  background-color: #000;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}

.btn-dark img {
  height: 35px;
  width: 35px;
}

.btn-dark p {
  font-size: 12px;
  margin: 0;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #222;
  border-radius: 50%;
  padding: 1rem;
  margin: 0 auto;
  max-width: 200px;
  height: 200px;
}

.icon-box img {
  width: 50%;
  height: auto;
  margin-bottom: 0.5rem;
}

.icon-box p {
  color: #fff;
  margin: 0;
}

.img-fluid {
  max-height: 350px;
  object-fit: contain;
}

.btn-warning {
  background: linear-gradient(180deg, #E2D076 0%, #AC941E 100%);
  width: 200px;
  padding: 10px;
  color: white;
}

.second-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 200px;
  height: 200px;
}

.second-icon-box img {
  width: 25%;
  height: 40%;
  margin-bottom: 0.5rem;
}

.second-icon-box p {
  color: #d8c14e;
  margin: 0;
}

.img-fluid {
  max-height: 350px;
  object-fit: contain;
}

.card {
  background: linear-gradient(131.87deg, #474747 -2.18%, rgba(72, 72, 72, 0) 103.93%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-custom {
  background: linear-gradient(131.87deg, #474747 -2.18%, rgba(72, 72, 72, 0) 103.93%);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 300px;
}

.card-title {
  font-weight: bold;
}

.card-custom1 {
  background: linear-gradient(180deg, #E2D076 0%, #AC941E 100%);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 300px;
}

.card-title {
  color: #d8c14e;
}

.card-text {
  color: #d8c14e;
}

.card-title1 {
  color: black;
}

.card-text1 {
  color: black;
}

.card-custom-width {
  max-width: 100%;
}

.card-group-1 {
  margin-top: 50px;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffc107;
  border: none;
}

.carousel-indicators .active {
  background-color: #ff9800;
}

.carousel-custom {
  background: linear-gradient(131.87deg, #474747 -2.18%, rgba(72, 72, 72, 0) 103.93%);
  color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  /* margin: 10px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}

.user-testimonial {
  font-size: 15px;
  margin-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ffc107;
  border-radius: 50%;
  padding: 10px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.footer h5 {
  color: #ffd700;
}

.footer .text-small {
  font-size: 0.9rem;
}

.text-small-below {
  font-size: 0.7rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-logo-fluid {
  max-height: 100px;
  width: 230px;
}

@media (max-width: 768px) {
  .icon-box {
    max-width: 150px;
    height: 150px;
    padding: 0.5rem;
    font-size: 13px;
  }

  .second-icon-box {
    max-width: 150px;
    height: 150px;
    padding: 0.5rem;
    font-size: 13px;
  }

  .phone-view {
    display: flex;
    flex-direction: column;
  }

  .icon-box img {
    width: 40%;
  }

  .card-custom-width {
    flex-direction: column;
    align-items: center;
  }

  .card-group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    /* width: 100% !important; */
    margin-bottom: 20px;
  }

  .carousel-inner .row {
    flex-wrap: nowrap;
  }

  .carousel-inner .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .carousel-custom {
    margin: 0 auto;
  }
}